<style>
body{
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-image: url(https://thumbs.gfycat.com/EnchantingAbandonedAxisdeer-size_restricted.gif)
    
}
header{
    border: 2px double black;
    text-align: center;
    display: inline-block;
    width: 30%;
}
main{
    border: 2px double black;
    text-align: center;
    display: inline-block;
    width: 65%;
}
main img{
    width: 80%;
}

</style>
<header>
    <h1>Gaming forum</h1>

    <% if current_user['id'] == '1' %>
        <img src="<%= current_user()['profile_picture']%>" alt="">
        <h3>Welcome  <%= current_user()['username']%> (Admin)</h3>
    
    <% else%>
    <%# give you back a boolean %>
        <img src="<%= current_user()['profile_picture']%>" alt="">
        <h3>Welcome  <%= current_user()['username']%></h3>
    <%end%>

    <br>
    <a href="/games/new"><button>Add new post</button></a>
        <%# because we are passing it as a variable ?%>
        <%# current_user() = akan dapatkan user%>
        <%# function tak perlu pass thru locals sbb it is accessible in the views folder..%>
        <%#{"id"=>"7",
        "first_name"=>"Syafiq",
        "last_name"=>"Imran",
        "email"=>"hehe@gmail.com",
        "password_digest"=>"$2a$12$vkN5pJ/14YH9rtC255evx.j1tQGv0caVOykNnU9uKly.djMnDK2yC"}
        %>
    <br>
    <br>
    <form action="/sessions" method="POST">
        <input name="_method" value="delete" type="hidden">

        <button>Log Out</button>
    </form>
        <%# will only show when they are logged in..%>

</header>
<main>
    <% games.each do |game_item|%>
        <h2><%= game_item["name"]%></h2> <h6>posted by <%=game_item['username']%></h6>
        <h2>Date of Post = <%= game_item["date_of_post"]%> </h2>
        
        <img src="<%= game_item["image_url"]%>" alt="">
        <br>
        <a href="/games/<%= game_item['name'] %>"><button>More details</button></a>
    <% end %>
</main>