<style>
    body{
        display: block;
        
    }
    header{
        text-align: center;
    }
    main img{
        width: 50%;
    }
</style>

<header>
    <h1> <%= game_display['name'] %></h1>
    <h6>Posted by <%= game_display['username']%></h6>
    <% if current_user['id'] == '1' %>
        
        <form action="/games/<%= game_display['name'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Delete Post</button>
        </form>
    <% elsif game_display['username'] == current_user['username']%>
        <a href="/games/<%= game_display['id'] %>/edit"><button>Edit Post</button></a>
        <form action="/games/<%= game_display['name'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button>Delete Post</button>
        </form>
        
    <% end %>
</header>
<main>
    <img src="<%= game_display['image_url']%>" alt="">
    <br>
    <br>
    <form action="/comments/<%= game_display['name'] %>" method="POST">
        <h2>What are your thoughts about the game?</h2>
        <label for="">Write Your Comment Here</label>
        <input type="text" name="comment">

        <button>Post</button>

    </form>
</main>
<footer>
    <% comments.each do |comment|%>
        <p><%= comment['comment_written']%> posted by <%= comment['username'] %></p> <%# display comment%>
        <% if current_user['id'] == '1' %> <%# only for Admin %>
            
            
            <form action="/comments/<%= game_display['name'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Delete Comment</button>
            </form>
        <% elsif comment['username'] == current_user['username']%> <%# only for the one that post the comment%>
            
            <a href="/comments/<%= comment['user_id'] %>/edit"><button>Edit Comment</button></a>
            <form action="/comments/<%= game_display['name'] %>" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button>Delete Comment</button>
            </form>
        <% end %>
        
        
        
    <% end %>


    <br>
    <br>
    <br>
    <a href="/games"><button>Go back to main page</button></a>
</footer>